
.middle-box {
    min-width: 45% !important;
    min-height: 25%;
    box-shadow: 8px 7px 5px 0px #00000059;
    background-color: #ffffff1f !important;
}

.main-box {
    min-width: 100% !important;
    min-height: 30%;
    box-shadow: 8px 7px 5px 0px #00000059;
    background-color: #ffffff1f !important;
}

.header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;   
}

.text-muted {
    color: #5d5d5d;
}

.json-cover {
    background-color: rgb(28, 32, 35);
    border: 1px solid rgb(28, 32, 35);
    border-radius: 20px !important;
}   

.icon {
    transition: all 0.1s ease-in;
    cursor: pointer;
    margin-right: 2px;
}
.icon:hover {
    color: white;
}

